#fcf-form {
    display:block;
    width: 50%;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #69ce16;
    text-align: left;
    background-color: #fff;
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 50%;
}

